{% extends 'post/layout.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/new_post.css' %}">

{% endblock %}

{% block content %}

<div id="main_container">
    <div class="post_form_container">

        <form action="#" class="post_form" method="post" enctype="multipart/form-data">

            <!--타이틀-->
            <div class="title">
                New Post
            </div>

            <!--프리뷰-->
            <div class="preview">
                <label for="id_photo">
                    <div class="upload">
                        <div class="post_btn">
                            <div class="plus_icon">
                                <span></span>
                                <span></span>
                            </div>
                            <p>포스트 이미지 추가</p>
                            <canvas id="imageCanvas"></canvas>
                        </div>
                    </div>
                </label>
            </div>

            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" class="submit_btn" value="저장">

        </form>

    </div>
</div>

<script>
    const fileInput = document.querySelector("#id_photo")
    fileInput.addEventListener('change', handleImage);
    const canvas = document.getElementById('imageCanvas');

    // 드로잉이 가능하도록 만듭니다.
    const ctx = canvas.getContext('2d');

    function handleImage(e) {

        const reader = new FileReader();

        // reader가 로드되었을 때 (페이지가 전부 로드 되었을 때)
        reader.onload = function(event){

            const img = new Image();

            img.onload = function(){
                canvas.width = 300;
                canvas.height = 300;

                // 이미지를 그려줍니다.
                ctx.drawImage(img,0,0,300,300);
            };

            // 이미지 경로
            // 이벤트의 노드(타겟)를 추적해서 결과를 가져옵니다.
            img.src = event.target.result;
        };

        // input 박스에 집어넣은 이미지를 최종적으로 파일리더에 담아서 함수를 종료합니다.
        reader.readAsDataURL(e.target.files[0]);
    }

</script>

{% endblock %}