{% extends 'post/layout.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/new_post.css' %}">

{% endblock %}

{% block content %}

<div class="main_container">
    <div class="post_form_container">

        <form action="" class="post_form" method="post" enctype="multipart/form-data">

            <!--타이틀-->
            <div class="title">
                New Post
            </div>

            <!--프리뷰-->
            <div class="preview">
                <lable for="id_photo">
                    <div class="upload">
                        <div class="post_btn">
                            <div class="plus_icon">
                                <span></span>
                                <span></span>
                            </div>
                            <p>포스트 이미지 추가</p>
                            <canvas id="imageCanvas"></canvas>
                        </div>
                    </div>
                </lable>
            </div>

            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" class="submit_btn" value="저장">

        </form>

    </div>
</div>

{% endblock %}