<script type="text/javascript">

    (function(){

        // delegation 기준 태그
        const delegation = document.querySelector('.contents_box');


        // delegation 함수
        function delegationFunc(e) {

            let element = e.target;

            // 콘솔을 찍어보면 'e'의 target은 클릭된 하위태그임을 알 수 있습니다.
            // console.log('e: ', e);

            // target
            console.log('element: ', element);

            // 타겟을 클릭했을 때 클래스 'on'을 추가해줍니다.
            element.classList.toggle('on');

            // data-name을 이용해서 각기 다른 포스트에 좋아요와 북마크를 컨트롤합니다.
            while(!element.getAttribute('data-name')) {

                element = element.parentNode;

                if(element.nodeName === 'BODY') {
                    element = null;
                    return;
                }
            }

            // matches() 함수는 엘리먼트의 속성이 일치하는지 확인합니다.
            // heartbeat는 하트 아이콘입니다.
            if(element.matches('[data-name="heartbeat"]')) {
                console.log('하트입니다.')

                const pk = element.getAttribute('name');
                console.log('pk: ', pk);

                $.ajax({
                    type: "POST",
                    url: "{% url 'post:post_like' %}",
                    data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 고유한 요청이 될 수 있도록 합니다.
                    dataType: "json",
                    success: function (response) {
                        // alert('성공!');
                        const likeCount = document.querySelector('#like-count-' + pk);
                        likeCount.innerHTML = '좋아요' + response.like_count + '개';
                    },
                    error: function (request, status, error) {
                        alert('에러!');
                        console.log('request.status: ', request.status);
                        console.error('request.responseText: ', request.responseText);
                        console.error('error: ', error);
                    },

                });


            } else if(element.matches('[data-name="bookmark"]')) {
                console.log('북마크입니다.')

                const pk = element.getAttribute('name');
                console.log('pk: ', pk);

                $.ajax({
                    type: "POST",
                    url: "{% url 'post:post_bookmark' %}",
                    data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 고유한 요청이 될 수 있도록 합니다.
                    dataType: "json",
                    success: function (response) {
                        // alert('성공!');
                        const bookmarkCount = document.querySelector('#bookmark-count-' + pk);
                        bookmarkCount.innerHTML = '북마크' + response.bookmark_count + '개';
                    },
                    error: function (request, status, error) {
                        alert('에러!');
                        console.log('request.status: ', request.status);
                        console.error('request.responseText: ', request.responseText);
                        console.error('error: ', error);
                    },

                });

            } else if(element.matches('[data-name="comment"]')) {
                console.log('새 댓글');

                const pk = element.getAttribute('name');
                const content = document.querySelector('#add-comment-post' + pk + '> input[type=text]').value;

                console.log('content: ', content);

                if(content.length > 140) {
                    alert('댓글은 최대 140자까지 입력 가능합니다.' + '\n' + '현재 글자수: ' + content.length);
                    return;
                }
            }

        }

        // delegation 클릭 이벤트
        delegation.addEventListener('click', delegationFunc);

    })();

</script>