<script type="text/javascript">

    (function(){

        // delegation 기준 태그
        const delegation = document.querySelector('.contents_box');

        // 사이드 박스 태그
        const side_box = document.querySelector('.side_box');

        // 헤더 태그
        const header = document.querySelector('#header');


        // delegation 함수
        function delegationFunc(e) {

            let element = e.target;

            // 콘솔을 찍어보면 'e'의 target은 클릭된 하위태그임을 알 수 있습니다.
            // console.log('e: ', e);

            // target
            console.log('element: ', element);

            // 타겟을 클릭했을 때 클래스 'on'을 추가해줍니다.
            element.classList.toggle('on');

            // data-name을 이용해서 각기 다른 포스트에 좋아요와 북마크를 컨트롤합니다.
            while(!element.getAttribute('data-name')) {

                element = element.parentNode;

                if(element.nodeName === 'BODY') {
                    element = null;
                    return;
                }
            }

            // matches() 함수는 엘리먼트의 속성이 일치하는지 확인합니다.
            // heartbeat는 하트 아이콘입니다.
            if(element.matches('[data-name="heartbeat"]')) {
                console.log('하트입니다.')

                const pk = element.getAttribute('name');
                console.log('pk: ', pk);

                $.ajax({
                    type: "POST",
                    url: "{% url 'post:post_like' %}",
                    data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 고유한 요청이 될 수 있도록 합니다.
                    dataType: "json",
                    success: function (response) {
                        // alert('성공!');
                        const likeCount = document.querySelector('#like-count-' + pk);
                        likeCount.innerHTML = '좋아요' + response.like_count + '개';
                    },
                    error: function (request, status, error) {
                        alert('에러!');
                        console.log('request.status: ', request.status);
                        console.error('request.responseText: ', request.responseText);
                        console.error('error: ', error);
                    },

                });


            } else if(element.matches('[data-name="bookmark"]')) {
                console.log('북마크입니다.')

                const pk = element.getAttribute('name');
                console.log('pk: ', pk);

                $.ajax({
                    type: "POST",
                    url: "{% url 'post:post_bookmark' %}",
                    data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 고유한 요청이 될 수 있도록 합니다.
                    dataType: "json",
                    success: function (response) {
                        // alert('성공!');
                        const bookmarkCount = document.querySelector('#bookmark-count-' + pk);
                        bookmarkCount.innerHTML = '북마크' + response.bookmark_count + '개';
                    },
                    error: function (request, status, error) {
                        alert('에러!');
                        console.log('request.status: ', request.status);
                        console.error('request.responseText: ', request.responseText);
                        console.error('error: ', error);
                    },

                });

            } else if(element.matches('[data-name="comment"]')) {
                console.log('새 댓글');

                const pk = element.getAttribute('name');
                const content = document.querySelector('#add-comment-post' + pk + '> input[type=text]').value;

                console.log('content: ', content);

                if(content.length > 140) {
                    alert('댓글은 최대 140자까지 입력 가능합니다.' + '\n' + '현재 글자수: ' + content.length);
                    return;
                }

                // post/urls.py의 path의 name인 comment_new를 추적합니다.
                $.ajax({
                    type: 'POST',
                    url: '{% url "post:comment_new" %}',
                    data: {
                        'pk': pk,
                        'content': content,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    dataType: 'html',
                    success: function (data, textStatus, jqXHR) {
                        console.log('ajax 성공');
                        document.querySelector('#comment-list-ajax-post' + pk).insertAdjacentHTML('afterbegin', data);
                    },
                    error: function (request, status, error) {
                        console.log('ajax 실패');
                        console.log('request.status: ', request.status);
                        console.error('request.responseText: ', request.responseText);
                        console.error('error: ', error);
                    }
                });

            } else if(element.matches('[data-name="comment_delete"]')) {

                const pk = element.getAttribute('name');

                $.ajax({
                    type: 'POST',
                    url: '{% url "post:comment_delete" %}',
                    data: {
                        'pk': pk,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    dataType: 'json',
                    success: function (response, textStatus, jqXHR) {
                        console.log('ajax 성공');
                        if(response.status) {
                            document.querySelector(`#comment${pk}`).remove();
                        }
                    },
                    error: function (request, status, error) {
                        console.log('ajax 실패');
                        console.log('request.status: ', request.status);
                        console.error('request.responseText: ', request.responseText);
                        console.error('error: ', error);
                    }
                });

            } else if(element.matches('[data-name="follow"]')) {
                console.log('data-name="follow');

                const pk = element.getAttribute('name');
                console.log('pk type:', typeof pk);


                $.ajax({
                    type: 'POST',
                    url: '{% url "accounts:follow" %}',
                    data: {
                        'pk': pk,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    dataType: 'json',
                    success: function (response, textStatus, jqXHR) {
                        console.log('ajax 성공');

                        // status가 '1'이라면 following 상태입니다.
                        if(response.status) {
                            document.querySelector(`input.follow[name='${pk}']`).value = '팔로잉';

                          // '0' 이라면 following 상태가 아닙니다.
                        } else {
                            document.querySelector(`input.follow[name='${pk}']`).value = '팔로우';
                        }


                    },
                    error: function (request, status, error) {
                        console.log('ajax 실패');
                        console.log('request.status: ', request.status);
                        console.error('request.responseText: ', request.responseText);
                        console.error('error: ', error);
                    }
                });
            }



        }


        // 브라우저 사이즈 변경 시 호출되는 함수입니다.
        function resizeFunc() {
            console.log('리사이즈');

            if(pageYOffset >= 10) {
                // console.log(window.innerWidth);
                // console.log(window.innerWidth * 0.5);

                let calcWidth = (window.innerWidth * 0.5) + 167;

                if(side_box){
                    side_box.style.left = calcWidth + 'px';
                }

            }

        }


        // 스크롤을 했을 때 호출되는 함수입니다.
        function scrollFunc() {


            let scrollHeight = pageYOffset + window.innerHeight;
            let documentHeight = document.body.scrollHeight;

            // 아래 두개의 값이 맞아 떨어지면 ajax 통신이 일어나야합니다.
            // scrollHeight, documentHeight
            // 하지만 pageYOffset 는 스크롤이 화면 위의 끝부분에서 부터 시작하기 때문에
            // 그 아래 끝부분까지 더해야하는데 이때 window.innerHeight를 더해주게 되면
            // document.body.scrollHeight 값 까지 더해지게 됩니다.
            console.log('pageYOffset: ', pageYOffset);
            console.log('window.innerHeight: ', window.innerHeight);
            console.log('scrollHeight: ', scrollHeight);
            console.log('document.body.scrollHeight: ', documentHeight);
            console.log('\n');

            if(pageYOffset >= 10) {

                header.classList.add('on');

                // 다른 html 파일에서 main.js를 사용해도 에러가 발생하지 않는다.
                if(side_box) {
                    side_box.classList.add('on');
                }

                resizeFunc();

            } else {
                header.classList.remove('on');

                if(side_box) {
                    side_box.classList.remove('on');
                    side_box.removeAttribute('style');
                }

            }

            if(scrollHeight + 300 >= documentHeight) {

                // ajax 통신횟수, 남아있는 페이지 수의 확인,
                // 어느지점에 도달했을 때 스크롤을 막기 위해서 생성해줍니다.
                let page = document.querySelector('#page').value;
                let end_page = {{ posts.paginator.num_pages }}

                if(page > end_page) {
                    return;
                }

                document.querySelector('#page').value = parseInt(page) + 1;

                callMorePostAjax(page);

            }

        }

        function callMorePostAjax(page) {

            let end_page = {{ posts.paginator.num_pages }}

            if(page > end_page) {
                return;

            } else {

                // csrf: 요청을 보낼 때 서버에서 암호화된 토큰을 받습니다.
                // 그리고 다시 서버로 보내서 서로 두개의 토큰을 비교해서
                // 우리가 보낸 토큰값이 맞는지 확인해서 중간에 해킨시도를 막아줍니다.
                $.ajax({
                    type: 'POST',
                    url: '{% url "post:post_list" %}',
                    data: {
                        'page': page,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'html',
                    success: addMorePostAjax,
                    error: function (request, status, error) {
                        console.log('request.status: ', request.status);
                        console.error('request.responseText: ', request.responseText);
                        console.error('error: ', error);
                    }
                });
            }
        }


        function addMorePostAjax(data, textStatus, jqXHR) {

            const post = document.querySelector('#post_list_ajax');

            // post 뒤에 계속 이어붙인다는 의미입니다.
            post.insertAdjacentHTML("beforeend", data);
        }


        // dlegation 클릭 이벤트
        delegation.addEventListener('click', delegationFunc);

        window.addEventListener('resize', resizeFunc);
        window.addEventListener('scroll', scrollFunc);

    })();

</script>