{% extends "accounts/layout.html" %}

<!--메인 컨테이너 영역-->
{% block content %}

<div id="main_container">

        <div class="form_container">

            <div class="form">

                <form action="" method="post" enctype="multipart/form-data">
                    <!--폼 데이터를 보낼때 마다 랜덤 문자열을 생성해서 보내 보안을 높여줍니다. (장고에서 지원합니다.)-->
                    {% csrf_token %}
                    
                        {{ form.as_p }}
                    <input class="submit_btn" type="submit" value="가입">

                </form>

            </div>

            <div class="bottom_box">
                <div>
                    <span>아이디가 있다면</span><a href="#">로그인</a>
                </div>
            </div>


        </div>

    </div>

{% endblock %}